html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-container{
width: 100vw;
height: 100vh;
background-color: #f4d04e;
display: flex;
justify-content: center;
align-items: center;
}

.card-container{
width: 400px;
height: 540px;
background-color: white;
border-radius: 10px;
box-shadow: 8px 8px rgb(0, 0, 0), -1px -1px 0px 0px #000000;
display: flex;
flex-direction: column;
overflow: hidden; 
padding: 20px;
gap: 10px;
}

.img{
width: 100%;
border-radius: 12px;
}

.catg{
width: fit-content;
background-color: #f4d04e;
padding: 5px 14px;
border-radius: 8px;
margin-top: 10px;
}

.catg p {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  color: #1f3251;
}

.p2{
 margin: 0;
 font-size: 13px;
}

h1{
margin: 8px 0;
}

.p3{
font-size: 20px;
color: #6b6b6b; 
margin: 0;
}

.mini-profil{
display: flex;
flex-direction: row;
gap: 10px;
margin-top: 10px;
}

.mini-profil p{
font-weight: bold;
}

.avatar{
width: 50px;
height: 50px;
}